.upload-file {
  display: flex;
  margin: 10px;
}

.upload-file .icon-area::before {
  content: '上傳文字檔案';
  position: absolute;
  left: 28px;
}

.upload-file .icon-area {
  display: flex;
  position: relative;
  margin-top: 10px;
  cursor: pointer;
  background-color: #253649;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  width: 150px;
  height: 150px;
}

.upload-file .icon-area .icon {
  position: absolute;
  left: 35px;
  top: 45px;
  background-color: #253649;
  color: #fff;
}

.upload-file .icon-area:hover {
  box-shadow: 3px 3px 3px #303b47c8;
}

input[type="file"] {
  display: none;
}